<section>
  <h2>Create New Review</h2>
<form class="new-review-form">
    <div>
      <label for="review-url">Link</label>
      <input id="review-url" name="review-url" />
    </div>

    <button type="submit" class="btn">Create Review</button>
  </form>
</section>

<script src="/javascript/create-review.js"></script>