<section class="search-section">
   {{!-- <form action="/search/" id="search-bar" class="input-group mb-3 search-section-container">
                  <input type="text" name="search-text" class="search-bar">
                  <div class="input-group-append">
                  <div class="btn-group">
  <button type="submit" class="btn btn-primary search-button">Search</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/sort/a-z">Sort by rating</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
                  </div>
   </form> --}}
   {{!-- <section class="sort">
      <h6><a href="/sort/az">Sort by Title (A-Z)</a></h6>
      <h6><a href="/sort/rating">Sort by Rating (High-Low)</a></h6>
   </section> --}}
</section>
<section class="show-posters-container">
{{#each shows}}
<div class="poster-container"> 
   <a class="hvr-float-shadow hvr-glow" href="/shows/{{id}}"><img src="https://image.tmdb.org/t/p/w200/{{poster_path}}"></a>
</div>
{{/each}}
</section>
<script src="/javascript/search-show.js"></script>