{{!-- LOGIN FORM --}}
<div class="login-page-container container">
    <div  class="row">
<section class="login-section col">
    <h1 >log in</h1>
    <form class="login-form">
        <div class="input-group">
  <span class="input-group-text"><img src="/img/user-icon.svg"></span>
  <input type="text" class="form-control" id="username-login" placeholder="username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-text"><img src="/img/lock.svg"></span>
  <input type="password" id="password-login" class="form-control" placeholder="password" aria-label="Password" aria-describedby="basic-addon1">
</div>
<div class="d-grid gap-2">
  <button class="btn btn-primary login-submit-button" type="submit">SUBMIT</button>
    </form>
    

</section>
{{!-- DIVIDER --}}
<div class="col d-flex" style="height: 200px;">
  <div class="vr"></div>
</div>
{{!-- SIGNUP FORM --}}
<section class="col signup-section">
    <h1 >sign up</h1>
    <form class="signup-form">
        <div class="input-group">
  <span class="input-group-text"><img src="/img/envelope.svg"></span>
  <input type="text" id="email-signup" class="form-control" placeholder="user@email.com" aria-label="Email" aria-describedby="basic-addon1">
</div>
        <div class="input-group">
  <span class="input-group-text"><img src="/img/user-icon.svg"></span>
  <input type="text" id="username-signup" class="form-control" placeholder="username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-text"><img src="/img/lock.svg"></span>
  <input type="password" id="password-signup" class="form-control" placeholder="password" aria-label="Password" aria-describedby="basic-addon1">
</div>
<div class="d-grid gap-2">
  <button class="btn btn-primary signup-submit-button" type="submit">SUBMIT</button>
    </form>

</section>
</div>
</div>
<script src="/javascript/login.js"></script>